@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  
 
  font-family: 'Montserrat', sans-serif;
  width: 1200px;
 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.day {
    display: inline-block;
    width: 110px;
    height: 110px;
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
  }

  .styleButton{
    color: black;
    font-size: 2em;
    font-weight: bold;
    width: 200px;
    height: 100px;
    background-color: antiquewhite;
    border-radius: 10%;
    border: solid black;
    margin:20px
    
  }